// card

$card-flow-spacing: 0.5rem;
$card-padding: 1.5rem;
$card-shadow: none;
$card-border-radius: 1rem;
$card-background-default: hsl(0 0% 42%);
$card-color-default: hsl(0 0% 25%);
$card-font-family: system-ui;
$card-line-height: 1.7;
$card-heading-color-default: hsl(0 0% 25%);
$card-heading-font-size: 2rem;


// heading
$heading-color-default: hsl(218 36% 23%);
$heading-letter-spacing: 0;
$heading-font-weight: bold;
$heading-font-family: system-ui;
$heading-text-transform: none;
$heading-line-height: 1.1;

